# Ignore specific session files
user_session.session
new_session_name.session
user_session.session-journal

# Ignore all session files
*.session

# Ignore media directory
/media/

channels.json
config.json
/.gitignore